dj-database-url==0.5.0
Django==2.2.10
django-bmemcached==0.2.4
django-heroku==0.3.1
gunicorn==20.0.4
psycopg2==2.8.6
python-binary-memcached==0.30.1
python-memcached==1.59
pytz==2021.1
q==2.6
six==1.15.0
sqlparse==0.4.1
uhashring==2.0
whitenoise==5.2.0